<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
</style>
<!--
<div class="content" role="main">
  <div class="card highlight-card card-small">
    {{ title }}
  </div>
  <div *ngFor="let course of courses; let i = index;">
    <h5>{{ course }}</h5>
    <p>{{ course.description }}</p>
    <p><span style="font-weight: bold;">Lecturer:</span> {{ lecturers[i].name }}</p>
    <p>รายชื่อนักศึกษา</p>
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Score</th>
        <th>Full_mark</th>
      </tr>
      <tr *ngFor="let student of students; let i = index;">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ scores[i].score }}</td>
        <td>{{ scores[i].full_mark }}</td>
      </tr>
    </table>
    <div class="space"></div>
  </div>
</div> -->
